
<div>
<div class="row" *ngIf="authService.userData as user">
	<div id="profile" class="page-layout simple tabbed">
		<div class="header" layout="column" layout-align="center center" layout-gt-sm="row"
			layout-align-gt-sm="space-between end">

			<div layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
				<img class="profile-image avatar huge"
					src="{{(user.photoURL) ? user.photoURL : 'https://randomuser.me/api/portraits/men/1.jpg'}}">
				<div class="name">{{(user.displayName) ? user.displayName : 'Toto'}}</div>
			</div>

			

		</div>

					<div layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">

						<div class="profile-box info-box general md-whiteframe-1dp" layout="column">
								<div class="md-toolbar-tools"> Profile de l'utilisateur
								</div>
							<h1>Bonjour: <strong>{{(user.displayName) ? user.displayName : 'Toto'}}</strong></h1>
							<p>Identifiant de l'utilisateur: <strong>{{user.uid}}</strong></p>
							<p>Email: <strong>{{user.email}}</strong></p>
						</div>

					</div>



	</div>
</div>
<div layout="row" layout-align="end center">
	<button mat-flat-button color="primary" (click)="authService.SignOut()">Déconnexion</button>
</div>
</div>	
