<mat-card>
  <mat-card-title>Réinitialiser le mot de passe</mat-card-title>
  <mat-card-content>
    <mat-card-subtitle>Saisis ton adresse email ou ton pseudo et nous t'enverrons un lien pour réinitialiser ton mot de passe</mat-card-subtitle>
      <div class="displayTable">
          <div class="displayTableCell">
              <div class="authBlock">
                  <mat-form-field >
                      <input matInput type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required />
                  </mat-form-field><br/>
                  <!-- Calling SignIn Api from AuthService -->
                  <div>
                      <button  mat-flat-button color="primary"
                      (click)="authService.ForgotPassword(passwordResetEmail.value)">Réinitialiser le mot de passe</button>
                  </div>
                  <div>
                      <span>Retour en arrière ?
                          </span><a mat-button routerLink="/sign-in" color="primary" target="_blank">
                            Se connecter</a>
                  </div>
              </div>
              
          </div>
      </div>
  </mat-card-content>
</mat-card>
